# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [2]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [3]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
print(a[-3:])

[4, 5, 6]

In [5]:
# create a list of numbers from 1 to 20
lst = []
for num in range(1,21):
    lst.append(num)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
lst = []
for num in range(1,100):
    if num % 2 == 0:
        lst.append(num)
print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide(a,b):
    if b != 0:
        val = a/b
    return val

In [ ]:
# write a function that takes a string as input
# and return that string in all caps
def string_to_cap(string):
    newstring = string.upper()
    return newstring

In [1]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for num in range(1,31):
    if num % 3 == 0 and num % 5 != 0:
        print("fizz")
    if num % 3 != 0 and num % 5 == 0:
        print("buzz")
    if num % 3 == 0 and num % 5 == 0:
        print("fizzbuzz")
    if num % 3 != 0 and num % 5 != 0:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
dic = {"gyro":9, "burger":9, "Greek Salad":8, "Philly Steak":10}

In [ ]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
type(df)

In [ ]:
# output the calories, sugars, and protein columns only of every 40th row. 
df[['calories', 'sugars', 'protein']].iloc[::40]

In [ ]:
# select all rows with more than and including 400 calories
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
df[df["calories"] >= 400]

In [ ]:
# select all rows whose vitamin c content is higher than the iron content
df[df["vitamin c"] > df["iron"]]

In [24]:
# create a new column containing the caffeine per calories of each drink
df["caffeine per calories"] = df["caffeine"] / df["calories"]
df.head()

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine,caffeine per calories
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0,58.333333
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0,65.000000
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0,66.000000
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0,82.000000
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0,1.071429

In [15]:
# what is the average calorie across all items?
mfrs = df.groupby("beverage_category")
mfrs["calories"].mean()

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64

In [23]:
# how many different categories of beverages are there?
x = len(df["beverage_category"].unique())
print(x)

9

In [22]:
# what is the average # calories for each beverage category?
average_calories = df.groupby(["beverage_category"])["calories"].mean()

print(average_calories)

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64